.logo {
    width: 80px;
    align-self: center;
}

.container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 36px;
}

input {
    width: 520px;
    height: 49px;
    margin: 12px;

    padding-left: 2%;

    border-radius: 13px;
    border: 1px solid #000;
}

.submit {
    cursor: pointer;
    width: 300px;
    height: 49px;

    align-self: center;

    color: white;
    background-color: #3bf199;
    border: none;
}

.esqueceu-senha{
    padding-left: 12px;
}

.new-account {
    display: flex;
    justify-content: center;
}

section h2 {
    font-size: 16px;
    font-weight: normal;
}

.error {
    font-size: 15px;

    display: flex;
    flex-direction: column;
    
    padding-left: 12px;

    color: red;
}