label {
    font-size: 16px;
    /* padding-left: 12px; */
}

input {
    width: 520px;
    height: 49px;

    margin-top: 12px;
    margin-bottom: 12px;

    padding-left: 10px;

    border-radius: 13px;
    border: 1px solid #000;

    display: flex;
}